.scroll-top {
    position: fixed;
    right: 10px;
    bottom: 75px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    background-color: #000;
    color: #fff;
    &:hover {
        background-color: #38a8ea;
    }
}
