.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
.h-custom {
    height: calc(100% - 74px);
    .btn-return-home {
        display: block;
        margin-top: 15px;
        color: #000;
        font-weight: 700;
        &:hover {
            color: rgb(59, 113, 202);
        }
    }
}
@media (max-width: 450px) {
    .h-custom {
        height: 100%;
        margin-bottom: 30px;
    }
}

@media (max-width: 1366px) {
    .h-custom {
        .btn-login {
            width: 100%;
        }
    }
}
