.blog_wrapper {
    .right-content,
    .blog_left_base {
        margin-top: 50px;
    }
    .itembb {
        .itemblog_big {
            position: relative;
            margin-bottom: 60px;

            .image-blog {
                display: block;
                padding-bottom: 66.6666%;
                position: relative;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .content-blog {
                h3 {
                    font-size: 24px;
                    font-family: "Freeman", sans-serif;
                    margin-top: 15px;
                    a {
                        color: #282828;
                        text-decoration: none;
                        background: 0 0;
                        &:hover {
                            color: #38a8ea;
                        }
                    }
                }
            }
        }
    }
    .bloglr {
        width: 100%;
        float: left;
        padding-bottom: 30px;
        margin-bottom: 25px;

        .image-blog {
            width: 160px;
            float: left;
            margin-bottom: 0px;
            img {
                width: 100%;
            }
        }
        .contentright {
            display: block;
            float: left;
            padding-left: 15px;
            width: calc(100% - 160px);
            p {
                overflow: hidden;
            }
            h3 {
                display: block;
                color: #282828;
                font-size: 21px;
                font-family: "Freeman", sans-serif;
                font-weight: 400;
                margin: 0px 0 10px;

                .text-link,
                a {
                    color: #282828;
                    text-decoration: none;
                    &:hover {
                        color: #38a8ea;
                    }
                }
            }
            .blogwp p {
                color: #282828;
                font-size: 14px;
                font-weight: 500;
                padding-top: 5px;
            }
        }
    }
    .aside-item {
        margin-bottom: 40px;
        .aside-title h2 {
            font-size: 26px;
            font-family: "Freeman", sans-serif;
            margin: 0;
            padding-bottom: 15px;
            position: relative;
            text-transform: none;
            border-bottom: 1px solid #ebebeb;
            &::before {
                content: "";
                position: absolute;
                width: 75%;
                height: 3px;
                background: #38a8ea;
                bottom: 0;
                left: 0;
            }
            a {
                color: #282828;
                text-decoration: none;
                &:hover {
                    color: #38a8ea;
                }
            }
        }
        .aside-content {
            margin-top: 25px;

            .navbar-pills {
                .nav-item {
                    position: relative;
                    clear: left;
                    font-size: 14px;
                    padding: 2px 0px 2px 0px;
                    width: 100%;
                    a {
                        display: block;
                        font-size: 16px;
                        font-weight: 500;
                        padding: 5px 5px 5px 15px;
                        color: #282828;
                        &:hover {
                            color: #38a8ea;
                        }
                        &::before {
                            content: "\f054";
                            position: absolute;
                            font-family: "Font Awesome\ 5 Free";
                            font-weight: 900;
                            font-size: 14px;
                            color: #38a8ea;
                            top: 8px;
                            left: 0;
                        }
                    }
                }
            }

            .about_sum {
                p {
                    font-size: 16px;
                    font-family: "Quicksand", sans-serif;
                    font-weight: 500;
                    line-height: 24px;
                    margin-top: 15px;
                }
            }
        }
        img {
            margin-bottom: 15px;
            width: 100%;
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .aside-item .aside-title h2 {
        font-size: 19px;
    }
}

@media (max-width: 540px) {
    .blog_left_base {
        margin-top: 0 !important;
    }
    .bloglr .image-blog {
        width: 100%;
    }
    .navbar-pills {
        .nav-item {
            width: unset !important;
            a {
                display: inline-block;
                min-width: 170px;
            }
        }
    }
}

@media (min-width: 750px) and (max-width: 991px) {
    .blog_left_base {
        margin-top: 0 !important;
    }
    .bloglr .image-blog {
        width: 100%;
    }
    .navbar-pills {
        .nav-item {
            width: unset !important;
            a {
                display: inline-block;
                min-width: 230px;
            }
        }
    }
}
